.sec-descricao {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.sec-descricao textarea{
    resize: none;
    height: 6rem;
    border-radius: .325rem;
    padding: .5rem;
}

.sec-descricao label:hover{
    cursor: pointer;
}