.sec-nome input{
    margin: 0.2rem 0;
    width: 100%;
    font-size: 1rem;  
    border-radius: .5rem;
    border: 1px solid black;
    padding: .425rem;
}

.sec-nome label:hover{
    cursor: pointer;
}