@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Roboto:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: rgb(231, 231, 231);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar{
  background-color: white;
  width: 8px;
  border: none;
}

*::-webkit-scrollbar-thumb{
  border-radius: 12px;
  background-color: black;
}

@keyframes componentMount {
  0%{
      opacity: 0;
      transform: translateY(50px);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}
